@media (min-width: 768px) {
    .login-form {
        width: 80%;

    }

}

.hover {
    background-color: white;
    border: 0px;
    border-radius: 50px;
    font-weight: 500;
}

.hover:hover {
    background-color: royalblue;

}