.change:hover {

    color: white;
    text-decoration: underline;
}

.decoration {
    text-decoration: none;
}

.change {
    color: black;
}


.profile-pic {
    width: 37px;
    padding: 0px;
    border-radius: 10px;
    border: 2px solid black;
}